/* index.css */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: white;
  font-family: Arial, sans-serif;
  color: rgb(61, 64, 66);
}

.flexContainerCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: 2vw;
}

.flexContainerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  gap: 20px;
}

.nameTitle {
  font-size: 3rem;
  background-color: white;
  margin: 0;
  padding: 20px;
  width: 100%;

}

.regTitle {
  font-size: 2rem;
  text-align: center;
}

.projectObject {
  height: 10rem;
  width: 10rem;
  margin: 0.5rem;
  background-color: #d7d7d7;
  border-radius: 3rem;
  justify-content: center;
  overflow: hidden;

  /* Center the text */
  display: flex;
  align-items: center;   /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  text-align: center;     /* Ensures multi-line text is centered */
  
  cursor: pointer;

  font-size: 1.5rem;
  font-weight: bold;
}

.projectObject:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  
}

header {
  padding: 30px 10%;
  background-color: #d7d7d7;
}

a {
  text-decoration: none;
  color: inherit;
}

.topButton {
  align-self: center;
  align-items: center;
  text-align: center;
  width: 70%;
  background-color: #d7d7d7;
  padding: 20px;

  border: none;
  font-size: large;

  margin: 10px;
}





.topButton:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  cursor: pointer;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
}

.content-column {
  flex: 1; /* Take equal space in the container */
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: flex-start; /* Align items to the left */
  padding: 20px; /* Add padding inside each column */
}

.content-object {
  margin-bottom: 20px;
}

.image-column {
  flex: 1; /* Take equal space in the container */
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  background-color: #d7d7d7; /* Background color for the image column */
}

.image-column img {
  width: 100%
}

.leftNav {
  display: flex;
  align-items: center;
}

.rightNav {
  display: flex;
  align-items: center;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px; /* Space between items */
  margin: 0;
  padding: 0;
}

/*Adjust based on size of screen using queries*/

@media only screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
    padding: 10px; /* Add some padding */
  }

  .image-column {
    margin-bottom: 20px; /* Add space below the image */
  }
}



